.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    width: 500px;
    height:300px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  
  .card button:hover {
    opacity: 0.7;
  }

  .carousel-inner {
    width: 100%;
    height: 250px;
  }

  .flex-container {
    display: flex;
    margin: 100px;
    /* flex-wrap: nowrap;
    background-color: DodgerBlue; */
  }

  .product {
    height: 180px;
    width: 200px;
    border-radius: 50%;

  }

 