<!DOCTYPE html>
<html lang="en">


<body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Login Info</h2>
                    <form method="POST">
                        <!-- <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Name" name="name">
                        </div> -->
                        
                      
                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="email" [(ngModel)]="email">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="password" placeholder="Password" name="password" [(ngModel)]="password">
                        </div>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="reset" (click)="checklogin()">Login</button>
                        </div>
                        <!-- <div *ngIf="log==true">
                            <a routerLink="/product"></a>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>

   
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
